@import 'lib/scss/shared';

.cardGrid {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: $spacing * 3;

  @media (min-width: $breakpointDesktopMin), print {
    &.twoCells {
      grid-template-columns: 1fr 1fr;
    }

    &.threeCells {
      grid-template-columns: repeat(3, 1fr);
    }

    &.fourCells {
      grid-template-columns: repeat(4, 1fr);
    }

    &.autoCells {
      grid-template-columns: auto auto;
    }
  }
}
