@import 'lib/scss/variables';

.cardGrid {
  display: grid;
  grid-template-columns: 100%;
  margin-top: $spacing * 5;

  @media (min-width: 940px), print {
    grid-gap: $spacing * 3;

    &.twoCells {
      grid-template-columns: 1fr 1fr;
    }

    &.threeCells {
      grid-template-columns: repeat(3, 1fr);
    }

    &.fourCells {
      grid-template-columns: repeat(4, 1fr);
    }

    &.autoCells {
      grid-template-columns: auto auto;
    }
  }
}
