@import 'lib/scss/shared';

.experience {
  ul {
    position: relative;
    list-style: none;
    margin-left: 0;
    padding-left: 1.2em;

    li {
      @media print {
        padding: 0;
      }

      &::before {
        content: '-';
        position: absolute;
        left: 0;
        color: #a9a9a9;
      }
    }
  }
}
