@import 'lib/scss/shared';

.intro {
  width: 100%;

  h3 {
    margin-bottom: $spacing;
  }
}

.avatar {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background-size: cover;
  background-position: 50%;
  background-image: url('/static/images/damianPortrait.jpg');

  @media print {
    width: 170px;
    height: 170px;
  }
}

.links {
  @media (min-width: $breakpointDesktopMin), print {
    display: flex;

    ul {
      flex: 1;
    }
  }
}

.wrapper {
  position: relative;
  padding: 24px 0;
  background-color: #fff;

  p {
    margin-bottom: $spacing * 2;
  }

  li {
    display: flex;
    align-items: center;
  }

  :global(.container) {
    display: grid;
    grid-column-gap: 4.25rem;
    grid-row-gap: $spacing * 3;
    justify-items: center;
  }

  @media print {
    img {
      width: 12px;
      height: 12px;
    }
  }

  @media (min-width: $breakpointDesktopMin), print {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    :global(.container) {
      grid-template-columns: 184px auto;
      justify-items: initial;
    }
  }
}

.icon {
  display: inline-flex;
  background: $primaryColor;
  border-radius: 50%;
  padding: 6px;
  margin-right: 0.75rem;
  vertical-align: middle;
}
