@import 'lib/scss/shared';

.title {
  margin-right: $spacing * 3;
  width: 30%;
  color: #6f7780;
}

.list {
  width: 70%;
  margin-bottom: $spacing;
}

.skillBlock {
  @media (min-width: $breakpointDesktopMin), print {
    display: flex;
    align-items: baseline;
  }
}
